body{
  background-image: url("bg-desktop.png");
  background-color: #8b31e1;
  font-family: 'Open Sans', sans-serif;
}
.image2{
  float: left;
  margin-right: 50px;
}
.h1{
  text-align: left;
  margin-left: 700px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #ffffff;
}
.p1{
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  max-width: 1280px;
}
.div1{
  padding: 50px;
}
.img1{
  padding: 30px;
}
.btn {
   -webkit-border-radius: 44px;
   -moz-border-radius: 44px;
   border-radius: 44px;
   height: 19px;
   line-height: 19px;
   color: #8B31E1;
   font-family: Arial;
   width: 179px;
   font-size: 23px;
   font-weight: 100;
   padding: 18px;
   background-color: #FFFFFF;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #DA9FF9;
   border: solid #DA9FF9 3px;
   -webkit-border-radius: 44px;
   -moz-border-radius: 44px;
   border-radius: 44px;
   text-decoration: none;
   color: #ffffff;
}
.facebook{
  width: 2.5%;
  color: white;
}
.twitter{
  width: 2.5%;
}
.instagram{
  width: 2.5%;
}
.logos{
  clear: left;
  text-align: right;
  margin-right: 40px;
}
.footer{
  clear: left;
}
.facebook:hover{
  width: 2.7%;
}
.twitter:hover{
  width: 2.7%;
}
.instagram:hover{
  width: 2.7%;
}
